<%- layout('layouts/Boilerplate') %> 

<h1>All Items</h1>
 <br>
<div><a class="btn btn-primary" href="/items/new">add new Items</a></div>
 

     <% for(let campground of campgrounds) { %>
        <div class="card mb-3 p-2">
             <div class="row">
               <div class="col-md-4">
                  <img class="img-fluid" src="<%= campground.images[0].url%>" alt="">
               </div>
               <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><%= campground.title %> </h5>
                    <p class="card-text"><%= campground.description %> </p>
                    <p class="cart-text">
                       <small class="text-muted"><%= campground.location %> </small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %> </a>
                  </div>
               </div>

             </div>

        </div>
        
        <% } %> 
     
